<img class="image" src="/image/13.png">

<div class="welcome">
  <h2 id="story1" >
		<p>창문쪽으로 다가가는 중 세면대에서 소리가 나 고개를 돌리자...</p> 
		<p>헤헤.. 같이 내려가자~~</p>
  </h2>
  <h2 id="story2" >
 		<p>- 세번째 엔딩 -</p> 
  </h2>
</div>

<div id="ending">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/" role="button">다시 하기</a></p>
	</div>
</div>
