<img class="image" src="/image/12.png">

<div class="welcome">
  <h2 id="story1" >
		<p>헤헤.. 기다리고있었어...</p>
		<p>오래 기다렸자나..헤헤..</p> 
  </h2>
  <h2 id="story2" >
 		<p>- 두번째 엔딩 -</p> 
  </h2>
</div>

<div id="ending">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/" role="button">다시 하기</a></p>
	</div>
</div>
