<img class="image" src="/image/11.png">

<div class="welcome">
  <h2 id="story1" >
		<p>문을 열고 밖으로 나서자</p> 
		<p>갑자기 위로 올라가는 계단 쪽에...</p>	
  </h2>
  <h2 id="story2" >
 		<p>- 첫번째 엔딩 -</p> 
  </h2>
</div>

<div id="ending">
	<div class="top_button">
		<p><a class="btn btn-danger btn-lg" href="/" role="button">다시 하기</a></p>
	</div>
</div>
